<% include ./header3 %>
<style>
.inner-right
{
  <% if (Number(daystillpayment) <= 15) { %>
    -webkit-transform: rotate(<%= Number(daystillpayment) * 12 %>deg);
    transform: rotate(<%= Number(daystillpayment) * 12 %>deg);
  <% } else { %>
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  <% } %>
  
}
@keyframes load-right-pie-1
{
    from {transform: rotate(0deg);}
    <% if (Number(daystillpayment) <= 15) { %>
      to {transform: rotate(<%= Number(daystillpayment) * 12 %>deg);}
    <% } else { %>
      to {transform: rotate(180deg);}
    <% } %>
}
@-webkit-keyframes load-right-pie-1
{
    from {-webkit-transform: rotate(0deg);}
    <% if (Number(daystillpayment) <= 15) { %>
      to {transform: rotate(<%= Number(daystillpayment) * 12 %>deg);}
    <% } else { %>
      to {transform: rotate(180deg);}
    <% } %>
}
@keyframes load-left
{
    from {transform: rotate(-180deg);}
    <% if (Number(daystillpayment) <= 15) { %>
      to {transform: rotate(-180deg);}
    <% } else if(Number(daystillpayment) == 31) { %>
      to {transform: rotate(0deg);}
    <% } else if (Number(daystillpayment) == 999) { %>
      to {transform: rotate(0deg);}
    <% } else if (Number(daystillpayment) > 15) { %>
      to {transform: rotate(-<%= 180 - ((Number(daystillpayment) - 15) * 12) %>deg);}
    <% } %>
}
@-webkit-keyframes load-left
{
    from {transform: rotate(-180deg);}
    <% if (Number(daystillpayment) <= 15) { %>
      to {transform: rotate(-180deg);}
    <% } else if(Number(daystillpayment) == 31) { %>
      to {transform: rotate(0deg);}
    <% } else if (Number(daystillpayment) == 999) { %>
      to {transform: rotate(0deg);}
    <% } else if (Number(daystillpayment) > 15) { %>
      to {transform: rotate(-<%= 180 - ((Number(daystillpayment) - 15) * 12) %>deg);}
    <% } %>
}
</style>
              <div class="flex-grid">
                  <div class="listdown">
                    <h2>Список прямо приглашенных вами людей</h2>
                     <form class="search" method="post">
                        <a href="/refs2/0">Назад</a>
                        <!--input type="text" name="search">
                        <button>Поиск</button-->
                    </form>
                    <hr>
                    <% if(error && error.length > 0) { %>
                      <div class="error"><%= error %></div>
                    <% } %>
                    <% if(success && success.length > 0) { %>
                      <div class="success"><%= success %></div>
                    <% } %>
                    <p>Логин: <%= user.username %></p>
                    
                    <div class="pies">
                      <% if(user.active && user.paid == false) { %>
                      <div>
                        <p>Награда за первый депозит: <%= reward %></p>
                        <div class="pie pie1">
                            <div class="title">Дней осталось до выплаты.</div>
                            <div class="outer-right mask">
                                <div class="inner-right"></div>
                            </div>
                        
                            <div class="outer-left mask">
                                <div class="inner-left"></div>
                            </div>
                            <div class="content">
                                <span><%= daystillpayment %></span>
                            </div>
                            <div class="arrow"></div>
                        </div>
                        <% } %>
                      </div>
                      
                      <% if(user.active && user.upgrades > 0 && user.paid_two == false) { %>
                      <div>
                        <p>Награда за второй депозит: <%= reward %></p>
                          <div class="pie pie1">
                              <div class="title">Дней осталось до выплаты.</div>
                              <div class="outer-right mask">
                                  <div class="inner-right"></div>
                              </div>
                          
                              <div class="outer-left mask">
                                  <div class="inner-left"></div>
                              </div>
                              <div class="content">
                                  <span><%= daystillpayment %></span>
                              </div>
                              <div class="arrow"></div>
                          </div>
                      </div>
                      <% } %>
                    
                      <% if(user.active && user.upgrades > 1 && user.paid_three == false) { %>
                      <div>
                        <p>Награда за третий депозит: <%= reward %></p>
                        <div class="pie pie1">
                            <div class="title">Дней осталось до выплаты.</div>
                            <div class="outer-right mask">
                                <div class="inner-right"></div>
                            </div>
                        
                            <div class="outer-left mask">
                                <div class="inner-left"></div>
                            </div>
                            <div class="content">
                                <span><%= daystillpayment %></span>
                            </div>
                            <div class="arrow"></div>
                        </div>
                        <% } if (!user.active) { %>
                            <p>Пользователь еще не совершил депозита.</p>
                        <% } %>
                      </div>
                    </div>
                  </div>
              </div>

     </main>
  </div>
<% include ./footer %>