<% include ./header %>

<style>
@keyframes load-right-pie-1
{
    from {transform: rotate(0deg);}
    <% if (Number(daystillpayment) <= 15) { %>
      to {transform: rotate(<%= Number(daystillpayment) * 12 %>deg);}
    <% } else { %>
      to {transform: rotate(180deg);}
    <% } %>
}

@-webkit-keyframes load-right-pie-1
{
    from {-webkit-transform: rotate(0deg);}
    <% if (Number(daystillpayment) <= 15) { %>
      to {transform: rotate(<%= Number(daystillpayment) * 12 %>deg);}
    <% } else { %>
      to {transform: rotate(180deg);}
    <% } %>
}

@keyframes load-left
{
    from {transform: rotate(-180deg);}
    <% if (Number(daystillpayment) > 16) { %>
      to {transform: rotate(-<%= (31 - Number(daystillpayment)) * 12 %>deg);}
    <% } else { %>
      to {transform: rotate(0deg);}
    <% } %>
}

@-webkit-keyframes load-left
{
    from {transform: rotate(-180deg);}
    <% if (Number(daystillpayment) > 16) { %>
      to {transform: rotate(-<%= (31 - Number(daystillpayment)) * 12 %>deg);}
    <% } else { %>
      to {transform: rotate(0deg);}
    <% } %>
}
</style>

              <div class="flex-grid">
                  <div>
                    <h2>Управление балансом аккаунта</h2>
                    <div class="field">
                      <p>Первоначальная инвестиция</p>
                      <input type="text" value="<%= user.balance.toFixed(2) %>" disabled>
                    </div>
                    <div class="field">
                      <p>Чистая прибыль</p>
                      <input type="text" value="<%= user.net_profit.toFixed(2) %>" disabled>
                    </div>
                    <div class="field">
                      <p>Предворительная прибыль</p>
                      <input type="text" value="<%= next_profit.toFixed(2) %>" disabled>
                    </div>
                    <div class="pie pie1">
                        <div class="title">Дней осталось до выплаты.</div>
                        <div class="outer-right mask">
                            <div class="inner-right"></div>
                        </div>
                        <div class="outer-left mask">
                            <div  class="inner-left"></div>
                        </div>
                        <div class="content">
                            <span><%= daystillpayment %></span>
                        </div>
                        <div class="arrow"></div>
                    </div>
                  </div>
              </div>

              
          
      </main>
  </div>
<% include ./footer %>
          